body {
  margin: none;
  width: 100%;
  padding: 0;
}

.App {
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

textarea {
  border: 0;
  outline: none;
  width: 100% !important;
  padding: 0.5rem;
  box-sizing: border-box;
  height: 10rem;
  resize: none;
  overflow-y: auto;
  font-family: 'Roboto', sans-serif !important;
  font-size: 1rem !important;
}

textarea::placeholder {
  font-size: 1rem;
}

:root {
  --color-bg-animation: rgb(108, 0, 162);
  --color-bg-animation-2: rgb(200, 29, 216);
  --colorContainerAnimation1: 255, 110, 180; /* Medium Pink */
  --colorContainerAnimation2: 255, 182, 193; /* Light Pink */
  --colorContainerAnimation3: 255, 20, 147; /* Deep Pink */
  --colorContainerAnimation4: 255, 160, 200; /* Pale Pink */
  --color-interactive: 255, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
  --bg-gradient: 'linear-gradient(147deg, rgba(151,0,209,1) 0%, rgba(157,0,200,1) 50%, rgba(222,0,105,1) 100%)';
}

.span-primary {
  color: var(--color-bg-animation);
  font-weight: 600;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.container-animate {
  min-width: 100vw;
  min-height: 100vh;
  position: relative; 
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg-animation), var(--color-bg-animation-2));
  top: 0;
  left: 0;
  z-index: 0; 
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--colorContainerAnimation1), 0.8) 0, rgba(var(--colorContainerAnimation1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    z-index: 2; 

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--colorContainerAnimation2), 0.8) 0, rgba(var(--colorContainerAnimation2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    z-index: 2;

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--colorContainerAnimation3), 0.8) 0, rgba(var(--colorContainerAnimation3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    z-index: 2;

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--colorContainerAnimation4), 0.8) 0, rgba(var(--colorContainerAnimation4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    z-index: 2;

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    z-index: 3; 
    opacity: 0.7;
  }
}

.centered-container {
  position: relative;
  z-index: 4;
}

.text-gradient {
  background: linear-gradient(147deg, rgba(151,0,209,1) 0%, rgba(157,0,200,1) 50%, rgba(222,0,105,1) 100%);;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient {
    background-color: var(--bg-gradient) !important;
}